#toc {
  font-size: 0.8em;
  position: relative;
  background-color: white-faded;
}
@media screen and (min-width: 768px) {
  #toc {
    float: right;
    font-size: 0.8em;
    margin: 5px;
    position: relative;
    left: 50px;
    background-color: white-faded;
  }
}
